* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
}
.app {
  background-color: rgb(254, 254, 254);
  width: 100%;
  padding: 50px 100px;
}
.title {
  text-align: center;
  font-size: 40px;
}
.balance-box {
  background-color: white;
  margin-top: 50px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  margin: 20px auto 0;
  padding: 20px;
  font-size: 24px;
}
.balance-box h2,
.balance-box h1 {
  font-size: 32px;
}
.inc-exp-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
}

.inc-exp-cont .box {
  flex: 1;
  text-align: center;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.inc-exp-cont .box h3,
.inc-exp-cont .box h2 {
  font-size: 24px;
}
#income {
  color: green;
}
#expense {
  color: red;
}
.hist-head {
  margin-top: 20px;
}
.history {
  margin-top: 30px;
}
#history li {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 30px 50px;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  position: relative;
}
#history li:hover #delete-btn {
  display: block;
}
#delete-btn {
  padding: 8px;
  position: absolute;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 20px;
  left: 0;
  transform: translateX(50%);
  outline: 0;
  border: none;
  display: none;
}
.minus {
  border-right: 8px solid red;
}
.plus {
  border-right: 8px solid green;
}
.new-head {
  margin-top: 30px;
}
#form input {
  width: 100%;
  padding: 20px 30px;
  font-size: 20px;
  margin-top: 20px;
}
#addbtn {
  margin-top: 20px;
  width: 100%;
  padding: 20px 30px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  background-color: rgb(91, 91, 238);
  outline: none;
  border: none;
}
@media (max-width: 730px) {
  .app {
    padding: 20px 50px;
  }
  .title {
    font-size: 36px;
  }
  .balance-box {
    margin-top: 30px;
    padding: 10px;
  }
  .hist-head,
  .new-head,
  .balance-box h2,
  .balance-box h1 {
    font-size: 26px;
  }
  .inc-exp-cont {
    gap: 20px;
    margin-top: 10px;
  }

  .inc-exp-cont .box {
    padding: 20px;
  }
  .inc-exp-cont .box h3,
  .inc-exp-cont .box h2 {
    font-size: 20px;
  }

  #history li {
    padding: 20px 30px;
    font-size: 24px;
  }

  #delete-btn {
    font-size: 16px;
  }

  #form input {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
  }

  #addbtn {
    padding: 10px 20px;
    font-size: 20px;
  }
}

@media (max-width: 470px) {
  .app {
    padding: 10px 20px;
  }
  .title {
    font-size: 22px;
  }
  .balance-box {
    margin-top: 20px;
    padding: 5px;
  }
  .hist-head,
  .new-head,
  .balance-box h2,
  .balance-box h1 {
    font-size: 20px;
  }
  .inc-exp-cont {
    display: block;
    gap: 15px;
  }

  .inc-exp-cont .box {
    padding: 15px;
  }
  .inc-exp-cont .box h3,
  .inc-exp-cont .box h2 {
    font-size: 18px;
  }
  #history li {
    padding: 15px 20px;
    font-size: 20px;
  }

  #delete-btn {
    font-size: 14px;
  }

  #form input {
    padding: 8px 15px;
    font-size: 14px;
    margin-top: 8px;
  }

  #addbtn {
    padding: 8px 15px;
    font-size: 18px;
  }
}
